body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.background-image {
  background-image: url("images/bg-desktop-light.jpg");
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: clamp(250px, 40vw, 500px);
}

.todo-add {
  position: absolute;
  top: 8%;
  right: 8%;
  font-size: 1.2rem;
  z-index: 2;
}
.dark .background-image {
  background-image: url("images/bg-desktop-dark.jpg");
  width: 100%;

  background-repeat: no-repeat;
  position: relative;
  height: clamp(200px, 40vw, 500px);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.main {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
}

.todo-header {
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 2rem;
}

.todo-card {
  background-color: white;
}

.todo-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 380px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.todo-item,
.todo-item-initial {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 1rem;
  list-style: none;
}

.todo-item-initial {
  margin-bottom: 8px;
  position: relative;
}

.dark .todo-item,
.dark .todo-item-initial {
  display: flex;
  align-items: center;
  background-color: hsl(237, 14%, 26%);
  padding: 1rem;
  list-style: none;
}

.dark .todo-card,
.dark .todo-footer {
  background-color: hsl(237, 14%, 26%);
}

.dark .todo-footer {
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.7);
}

.dark .todo-container {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

#select-all-btn {
  margin-top: 8px;
}

.todo-list {
  padding: 0;
  margin-bottom: 0px;
}

.todo-text {
  border-style: none;
  outline-style: none;
  background: transparent;
}

.dark .todo-text {
  background-color: transparent;
  color: hsl(236, 9%, 61%);
}

.dropdown {
  display: flex;
  flex-direction: row;
  gap: 5px;
  position: relative;
}

.drop-down-menu-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18px;
  left: -11px;
}

.dropbtn {
  transition: all 0.25s ease;
}

#select-all-btn:hover,
#deselect-all-btn:hover,
.footer-centre > button:hover,
.footer-right > button:hover,
#clear-completed:hover {
  background: rgba(255, 255, 255, 0.35);
  color: #3b3b55;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.dark .footer-centre > button:hover,
.dark .footer-right > button:hover,
.dark #clear-completed:hover {
  color: lightgray;
}

.todo-footer {
  display: flex;
  align-items: flex-start;
  background-color: white;
  padding: 0.8rem;
  font-size: 0.8rem;
  justify-content: space-between;
  margin-bottom: 35px;
  color: hsl(236, 9%, 61%);
  font-weight: 600;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
}

.dark .todo-footer {
  color: hsl(236, 9%, 61%);
  background-color: hsl(237, 14%, 26%);
}

.footer-right {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

button {
  border: none;
  background: none;
  color: hsl(236, 9%, 61%);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.todo-list .todo-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s ease;
}

.todo-list .todo-checkbox:checked {
  background: linear-gradient(135deg, #6a5acd, #00bfff);
  border-color: transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.todo-list .todo-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.re-order-container {
  text-align: center;
  color: hsl(236, 9%, 61%);
  font-size: 0.8rem;
  position: absolute;
  bottom: -30px;
  left: 100px;
}

.select-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3px;
  padding: 0.75rem;
  padding-bottom: 0px;
}

.select-container > button {
  font-size: 0.72rem;
  color: lightgray;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

/* Use max width px for media queries */

@media (max-width: 600px) {
  .main {
    min-width: 340px;
  }

  .todo-add {
    top: 6%;
  }
  .background-image {
    background-image: url("images/bg-mobile-light.jpg");
    width: 100%;

    background-size: cover;
    background-position: top;
  }

  .dark .background-image {
    background-image: url("images/bg-mobile-dark.jpg");
    width: 100%;
    height: 40vw;
    background-size: cover;
    background-position: top;
  }

  .todo-container {
    min-width: 330px;
  }

  .todo-header {
    letter-spacing: 10px;
    font-size: 1.5rem;
  }

  #mode-btn {
    width: 20px;
  }

  .todo-item-initial {
    margin-bottom: 20px;
  }

  .dropdown {
    order: 3;
    margin-top: 20px;
  }

  .todo-footer {
    flex-wrap: wrap;
  }

  .dropdown.footer-centre {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
}

@media (max-width: 375px) {
  .background-image {
    background-image: url("images/bg-mobile-light.jpg");
  }
}
